{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
<h1 style="text-align: center " class="mt-4">What do you want to search on Top Search</h1>

  <div class="container mt-5">
    <div class="row">
        <div class="column">

                <i class="large material-icons ml-5"  style="color: #EE6E73">flash_on</i>
                <p>Fast craigslist webscraper</p>
                <p class="light center">Scrape away right here with a beautiful GUI</p>

        </div>
         <div class="column">

                <i class="large material-icons " style="color: #EE6E73">flash_on</i>
                <p>Filter your Searches</p>
                <p class="light center">We built in functionality based on pricing</p>

        </div>
         <div class="column">

                <i class="large material-icons" style="color: #EE6E73">flash_on</i>
                <p>A much more sexier front end to craiglist</p>
                <p class="light center">We built this with love</p>

        </div>
    </div>
      </div>
</div>
{% endblock %}