{% extends 'base.html' %}

{% block content %}

<h2 style="text-align: center">{{search|title}}</h2>



  <div class="row">
{% for post in final_postings %}
    <div class="row">
    <div class="col s12 m7">
     <div class="card" style="width: 18rem;">
       <div class="card-image">
  <img src="{{post.3}}" class="card-img-top" alt="...">
        </div>
  <div class="card-body">
    <h5 class="card-title"></h5>
    <p class="card-text">{{post.0}}</p>
    <a href="{{post.1}}">View Postings {{ post.2 }}</a>
  </div>
</div>
    </div>

  </div>
    {% endfor %}
  </div>
    </div>





{% endblock %}